body.layout-editing

  section.main-content
    width: 500px
    margin: 40px auto

    h2
      +serif
      font-size: 30px
      margin-bottom: 20px

    @import "form"
    @import "articles/create"

@import "articles/navigation"
