section.home-reviews
  margin-top: 30px
  margin-bottom: 100px
  ul
    +clearfix
    
    li a
      float: left
      width: (100% / 5) - 2%
      margin-left: 1%
      margin-right: 1%
      height: 50px
      background-position: center center
      background-repeat: no-repeat
      position: relative
        
      &.wired
        background-image: image-url("layout_application/page_homepage/logos/wired.png")
      
      &.life-hacker
        background-image: image-url("layout_application/page_homepage/logos/lifehacker.png")

      &.mashable
        background-image: image-url("layout_application/page_homepage/logos/mashable.png")

      &.download
        background-image: image-url("layout_application/page_homepage/logos/download.png")

      &.tech-republic
        background-image: image-url("layout_application/page_homepage/logos/tech-republic.png")
      
      