.wrapper

  .page-header: h1=I18n.t('knowledge_base.create_article.title') 
  = partial "knowledge_base/form", locals: { revision: @revision, url: url(:knowledge_base, :create), edit_category: true, edit_locale: false }


