---
http_interactions:
- request:
    method: get
    uri: https://addons.mozilla.org/en-US/firefox/addon/downthemall/statistics/overview-day-20130314-20130412.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backend-Server:
      - web10.addons.phx1.mozilla.com
      Content-Type:
      - text/json
    body:
      encoding: UTF-8
      string: '[{"date": "2013-04-12", "data": {"downloads": 16843, "updates": 1909080}},
        {"date": "2013-04-11", "data": {"downloads": 16445, "updates": 1969554}},
        {"date": "2013-04-10", "data": {"downloads": 16607, "updates": 1999807}},
        {"date": "2013-04-09", "data": {"downloads": 16343, "updates": 2014056}},
        {"date": "2013-04-08", "data": {"downloads": 16296, "updates": 2020582}},
        {"date": "2013-04-07", "data": {"downloads": 16320, "updates": 1720111}},
        {"date": "2013-04-06", "data": {"downloads": 16797, "updates": 1680819[...]
