---
http_interactions:
- request:
    method: post
    uri: https://verifier.login.persona.org/verify
    body:
      encoding: US-ASCII
      string: assertion=XXX&audience=downthemall.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"status":"okay","email":"stefano.verna@gmail.com","audience":"downthemall.com","expires":1364124512605,"issuer":"login.persona.org"}'
  recorded_at: Sun, 24 Mar 2013 11:26:54 GMT
recorded_with: VCR 2.4.0
