form
  ul.language-tabs
    margin-bottom: 15px
    margin-top: 10px
    +clearfix

    li
      float: left
      width: 25%
      height: 20px
      line-height: 20px

      a
        text-decoration: none
        +medium-black

        &.hover
          +strong-black

      &.selected-tab a
        +strong-black
        font-weight: bold
