@import "compass"
@import "buttons"
@import "css3buttons/without-reset"

+global-reset

body
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
  +text-shadow(rgba(white, 0.8) 0px 1px 0px)
  background: #fffff7 image-url("noise_background.png")
  color: #111
  font-size: 13px
  line-height: 16px
  text-rendering: optimizeLegibility
  
@import "layout_application/index"