@import "compass"
@import "formalize"
@import "tipsy"
@import "css3buttons/without-reset"
@import "layout_application/mixins"

+global-reset

body
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
  +text-shadow(rgba(white, 0.8) 0px 1px 0px)
  background: #fffff7 image-url("noise_background.png")
  color: #111
  font-size: 14px
  line-height: 16px
  text-rendering: optimizeLegibility

@import "common/navigation"
@import "layout_application/index"
@import "devise_application/index"
