footer.main-footer
  background: image-url("metal_background.png")
  padding: 15px 0px
  color: #DBDBDB
  margin-top: 40px
  +text-shadow(black 0px 1px 0px)
  line-height: 17px
  font-weight: bold
  border-top: 1px solid #111
  +fix

  a
    color: #DBDBDB

  .wrapper
    width: 960px
    margin: 0px auto

    ul
      width: 31%
      margin-right: 3%
      float: left

