title DownThemAll!
meta http-equiv="Content-Type" content="text/html; charset=utf-8"
link href='http://fonts.googleapis.com/css?family=Lato:700,900,700italic,900italic|Merriweather:700|Tinos:700,700italic|Lora:700,700italic|Volkhov:700,700italic' rel='stylesheet' type='text/css'
link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"

= stylesheet_link_tag "application"
= javascript_include_tag "application"
= csrf_meta_tags