section.article-comments
  margin-top: 30px

  h3
    margin-bottom: 20px
    font-size: 28px
    line-height: 28px
    +medium-black
    +serif

  ul
    margin-bottom: 20px

    li.comment
      +white-box
      padding: 15px
      margin-bottom: 10px
      font-size: 13px
      position: relative
      padding-left: 64px + 15px + 15px
      min-height: 64px

      aside
        position: absolute
        top: 15px
        left: 15px
        width: 64px
        height: 64px
        +border-radius(3px)

        img
          display: block
          +border-radius(3px)

      header
        margin-bottom: 4px

        strong
          font-weight: bold

      footer
        margin-top: 4px

        a
          padding-right: 10px
          color: #777

          &:hover
            color: #555

  .form-placeholder
