section.main-content
  float: left
  width: 70%

  section.recomended-articles
    +white-box
    margin-bottom: 20px

    h2
      +metal-gradient
      padding: 10px 15px
      +medium-black
      +sans-serif
      font-size: 22px

    ul
      padding: 20px
      border-top: 1px solid white

      li
        background: image-url("layout_application/articles/article.png") no-repeat center left
        line-height: 32px
        padding-left: 40px
        margin-bottom: 18px

        &:last-child
          margin-bottom: 0px

      a
        text-decoration: none
        +medium-black

        &:hover
          text-decoration: underline
          +highlight-color
